@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.buscador {

  position: absolute !important;
  z-index: 2;
  margin: 7px auto;
  width: 50%;
  margin-top: 10px;
  @media (max-width:768px) {
      width: 40%;
  }
}

.elemento {
  position: absolute !important;
  z-index: 2;
  @media (max-width:768px) {
      width: 40%;
  }
}


.sideBar{
  position: absolute !important;
  z-index: 3;
  @media (max-width:768px) {
      width: 40%;
  }
}
